/*sublime note, use command r to close the at button that pops up*/

/* -------------------------------- 

Primary style

-------------------------------- */
@font-face {
    font-family: 'dinosaurregular';
    src: url('dinosaur-webfont.eot');
    src: url('dinosaur-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinosaur-webfont.woff2') format('woff2'),
         url('dinosaur-webfont.woff') format('woff'),
         url('dinosaur-webfont.ttf') format('truetype'),
         url('dinosaur-webfont.svg#dinosaurregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html * {
  /* seems to be a language for browsers*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body { /*for the stuff in the div contents*/
  font-size: 100%;
  font-family: "Droid Serif", serif;
  color: #7f8c97; /*color of the font*/
  background-color: #f3efe0; /*color of the webpage, the beige color #e2d7a2; original color:#e9f0f5*/;
}

a { /*styling for the ones with links*/
  color: #ffd480;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 200%; /*size of the icons in the circles*/
}

h1, h2 { /*header at the top of the page and headers in the information boxes*/
  font-weight: bold;
  font-size: 50px;\
  color:black;
}

header{
   background-image: url("https://static01.nyt.com/images/2016/01/19/science/19DINO/19DINO-master675.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: top;
   background-attachment: fixed;
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and
  center it horizontally when it reaches that max-width */
  width: 90%; /*width of the div boxes; best = 90%*/
  max-width: 1170px; /*how far the boxes are allowed to stretch, responsive design; best = 1170px*/
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  /*background: #303e49;*/

}
header h1 {
  color: white;
  font-size: 66px;
  /*background: #8b0000; /*change the color of the page title; original color:#303e49*/
}
@media only screen and (min-width: 1200px) {
  header {
    /*screen width*/
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 4rem; /*use this to change font size not the line above*/
    color: white;
    text-align: left;
    padding:100px 0; 
}

p {
  color: black;
}

#dino {
  background:#DEB887;/*
  border-right-color: #DEB887;
  border-left-color: #DEB887; this part of the code didn't work quite as well as I wanted it to*/
}

div.fixed {
            position: fixed;
            top: 0;
            border: 3px solid #9A3334;
            background-color: #9A3334;
            z-index: 2;  
            width: 100%;
          }
          /* In the style tag, z-index is basically saying that you want this layer to be on the top
          of other items. This helped us because now we can click the button anytime we wanted unlike
          before when it would hide underneath other items.*/
span.content-title{
            font-family: 'dinosaurregular';
            color: #217C7E;
            font-size: 40px;
            position: center;
          }
a.hrefs{
            font-family: sans-serif;
            color: #ffd480;
            font-size: 20px;
          }
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 4em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0; /*the little extention above the first circle on the vertical line*/
  left: 18px; /*doesn't really change much*/
  height: 97%; /*use this to change the vertical length of the line*/
  width: 4px;
  background: #8b0000; /*original color:#d7e4ed*/
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
  float: none;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 375px;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #8b0000, inset 0 5px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); 
  /*4px is the thickness of the circle*/
  /*inset is the color inside of the circle followed by the 
  alpha = .08 which shows the opacity of the inset*/
  /*3px is the movement downward of a shadow that can appear underneath and 4 px is the radius
  of the shadow*/
}

/* Circle around the image*/
/*the .cd-timeline-img changes the sizes and locations of ALL of the icons*/
.cd-timeline-img img {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  left: 30%; /*moves all of the icons toward the left as you decrease value*/
  top: 30%; /*moves all icons upward as you decrease value*/
  margin-left: -12px;
  margin-top: -12px;
}

/*changes the sizes of the green bubbles if you add other elements like "left:" or "right:"*/
/*changes the color of the inside of the bubbles */
.cd-timeline-img.cd-picture {
  background: #f3efe0;; /*original color:#d0be67*/;
}
.cd-timeline-img.cd-movie {
  background: #009300; /*original color:#c03b44*/;
}
.cd-timeline-img.cd-location {
  background: #f0ca45; /*original color:#f0ca45*/
}
/*the height and width here changes the size of the green bubbles in the middle of the page,
it contains the icons*/
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  /*.cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }*/
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white; /*the color of the div box or information boxes*/
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
font-size: 25px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

/*the read-more button that was deleted*/
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #ffd480; 
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: red;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before { /*the div info box has transparent borders so the triangle can show*/
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white; /*color of the little triangle*/ 
    /*if you get rid of the above line it only gets rid of the triangles on the left side of the timeline*/
    /*border-right-color: #DEB887;*/ /*not useful at all bc it just creates another triange*/
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
    margin-top:5px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%; /*for the triangles on the right side of the timeline*/
    border-color: transparent;
    border-right-color: white;/*color of the triangles on the right side of the timeline come back*/
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
    height: 550px;
    width:550px;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }